.about-top {
  margin-bottom: 1rem;
  padding: 0; }

.about-bottom {
  margin-top: 1rem;
  padding: 0; }

.about-me-container {
  cursor: pointer; }
  .about-me-container .about-inside-container {
    position: relative; }
  .about-me-container .about-inside-bg {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; }
  .about-me-container .about-me-inside {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    height: 16rem;
    border-radius: 5px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.75)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#bf000000',GradientType=0 ); }
  .about-me-container .about-me-tiny-inside {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    height: 7.5rem;
    border-radius: 5px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.75)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#bf000000',GradientType=0 ); }
  .about-me-container .about-right {
    position: absolute;
    right: 0;
    bottom: 50%;
    margin-right: 1.5rem; }
  .about-me-container .about-me-iron-grad:hover .about-me-inside {
    background: none; }
  .about-me-container .about-me-my-book:hover .about-me-inside {
    background: none; }
  .about-me-container .about-me-spokane:hover .about-me-inside {
    background: none; }
  .about-me-container .about-me-kenz:hover .about-me-inside {
    background: none; }
  .about-me-container .about-me-wave-swim:hover .about-me-tiny-inside {
    background: none; }
  .about-me-container .about-me-fishing:hover .about-me-tiny-inside {
    background: none; }
  .about-me-container .about-me-drone:hover .about-me-tiny-inside {
    background: none; }
  .about-me-container .about-me-charleston-view:hover .about-me-tiny-inside {
    background: none; }
  .about-me-container .about-me-cup-kiss:hover .about-me-tiny-inside {
    background: none; }
  .about-me-container .about-me-pump-jack:hover .about-me-tiny-inside {
    background: none; }
  .about-me-container .about-me-snowboarding:hover .about-me-tiny-inside {
    background: none; }
  .about-me-container .about-me-golf:hover .about-me-tiny-inside {
    background: none; }

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

.account {
  height: 3rem;
  width: 3rem; }

/**
 * Basic styling
 */
body {
  background-color: #F5F7FA;
  font-family: "futura-pt",sans-serif;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none; }
  a:visited {
    color: #1756a9; }
  a:hover {
    color: #111;
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

.md-card {
  border-radius: 0px; }

.card {
  box-sizing: border-box; }
  .card .cardTop {
    height: 10rem;
    width: 100%;
    box-sizing: border-box; }
  .card .cardBottom {
    min-height: 9rem;
    padding: 0;
    margin: 0;
    width: 100%;
    box-sizing: border-box; }
  .card .md-button.md-raised.md-icon-button.big-circle {
    position: relative;
    border: 2px solid #212121;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 90px;
    height: 5rem;
    width: 5rem;
    margin-top: -3rem;
    background-color: #212121; }
  .card .cardName {
    text-align: center;
    margin-top: 3.5rem;
    margin-bottom: 0; }
  .card .cardName a {
    color: black;
    font-size: 1.5rem; }
  .card .cardName a:hover {
    text-decoration: none; }
  .card .cardNickname {
    text-align: center;
    margin: 0;
    color: #BCBCBC; }
  .card .cardDescription {
    color: black;
    font-size: .85rem;
    margin: 0.5rem 1.5rem 1.5rem 1.5rem;
    text-align: center; }
  .card .card-inside-container {
    position: relative; }
  .card .card-inside-bg {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; }
  .card .card-inside {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    height: 13rem; }

.card:hover {
  box-sizing: border-box;
  transition: ease-in 0.2s; }
  .card:hover .md-button.md-raised.md-icon-button.big-circle {
    border: 2px solid #F44336;
    transition: ease-out 0.3s; }
  .card:hover .card-inside {
    background: none; }

.md-icon-button {
  text-align: center;
  color: white; }

.cardIcon {
  color: white; }

.cardHeader {
  margin: 1rem 1rem 0.5rem 1rem; }

.date {
  float: right;
  font-size: .8rem;
  font-weight: normal; }

.floating {
  float: left; }

.mini-card {
  margin: 0rem;
  padding: 0;
  border-radius: 0px; }
  .mini-card .avatar {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 90px;
    height: 5rem;
    width: 5rem;
    margin-top: -2.7rem; }
  .mini-card .cardTop {
    height: 10rem;
    width: 100%;
    box-sizing: border-box; }
  .mini-card .cardBottom {
    height: 6rem;
    width: 100%;
    box-sizing: border-box; }
  .mini-card .google-button-wrap {
    margin-top: 0;
    width: 100%; }
  .mini-card .google-buttons {
    width: 200px;
    margin: 0 auto; }
  .mini-card .cardName {
    margin-top: 2.7rem;
    text-align: center;
    font-size: 1.5rem;
    color: white; }

.home-card {
  height: 20rem;
  padding: 1rem;
  margin: .6rem;
  border-radius: 0px; }

.aside-card {
  margin: .6rem;
  padding: .5rem; }

.detail-card {
  margin: .6rem;
  padding: 1rem; }

.detail-card-homey {
  margin: .6rem;
  padding: .5rem; }

.Custom.Styles.For.Angular.Google.Maps {
  height: 4rem;
  width: 4rem;
  background-size: cover;
  background-image: url("/assets/images/blog/custom-google-map-thumb.png"); }

.blog-i .img-specs {
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-position: auto; }

.blog-i .carousel-image {
  min-height: 5.5rem;
  min-width: 5.5rem;
  max-height: 5.5rem;
  max-width: 5.5rem;
  background-size: cover;
  background-position: center;
  margin: .5rem; }

.blog-i .gym-dumbbells {
  background-image: url("http://dreamatico.com/data_images/hockey/hockey-6.jpg"); }

.blog-i .berry-protein-shake {
  background-image: url("/assets/images/blog/berry-protein-shake.jpg"); }

.blog-i .coins {
  background-image: url("/assets/images/blog/coins.jpg"); }

.blog-i .maggie-bee-cover {
  background-image: url("/assets/images/blog/maggie-bee-cover.jpg"); }

.blog-i .coffee-and-notepad {
  background-image: url("/assets/images/blog/apple-desktop.jpg"); }

.blog-i .apple-desktop {
  background-image: url("/assets/images/blog/apple-desktop.jpg"); }

.blog-i .trevor-glass-spokane-chiefs {
  background-image: url("/assets/images/blog/trevor-glass-spokane-chiefs.jpg"); }

.blog-i .football-field {
  background-image: url("/assets/images/blog/football-field.jpg"); }

.blog-i .sweet-potatoes {
  background-image: url("/assets/images/blog/sweet-potatoes.jpg"); }

.blog-i .training-image {
  background-image: url("/assets/images/blog/training-image.jpg"); }

.blog-i .typing-macbook {
  background-image: url("/assets/images/blog/typing-macbook.jpg"); }

.blog-i .trevor-thinking {
  background-image: url("/assets/images/blog/trevor-thinking.jpg"); }

.blog-i .hip-xray {
  background-image: url("/assets/images/blog/hip-xray.jpg"); }

.blog-i .shopify-logo {
  background-image: url("/assets/images/blog/shopify-logo.jpg"); }

.blog-i .kenzie-modeling {
  background-image: url("/assets/images/blog/kenzie-modeling.jpg"); }

.blog-i .my-card-front {
  background-image: url("/assets/images/blog/my-card-front.jpg"); }

.blog-i .chili-peppers {
  background-image: url("/assets/images/blog/chili-peppers.jpg"); }

.blog-i .atom-text-editor-logo {
  background-image: url("/assets/images/blog/atom-text-editor-logo.jpg"); }

.blog-i .wordpress-logo {
  background-image: url("/assets/images/blog/wordpress-logo.jpg"); }

.blog-i .draftkings-logo {
  background-image: url("/assets/images/blog/draftkings-logo.jpg"); }

.blog-i .fanduel-logo {
  background-image: url("/assets/images/blog/fanduel-logo.jpg"); }

.blog-i .nfl-perfect {
  background-image: url("/assets/images/football/nfl-perfect.jpg"); }

.blog-i .football-concussion {
  background-image: url("/assets/images/blog/football-concussion.jpg"); }

.blog-i .open-laptop {
  background-image: url("/assets/images/blog/open-laptop.jpg"); }

.blog-i .github-logo {
  background-image: url("/assets/images/blog/github-logo.jpg"); }

.blog-i .trevor-kenz-ocean {
  background-image: url("/assets/images/blog/trevor-kenz-ocean.jpg");
  background-position: center; }

.blog-i .night-out {
  background-image: url("/assets/images/blog/night-out.jpg"); }

.blog-i .trevor-kenz-bench {
  background-image: url("/assets/images/blog/trevor-kenz-bench.jpg");
  background-position: center; }

.blog-i .trevor-iron-yard {
  background-image: url("/assets/images/blog/trevor-iron-yard.jpg"); }

.portfolio-image .portfolio-specs {
  background-position: center;
  width: 100%; }

.portfolio-image .earthquake {
  background-image: url("/assets/images/portfolio/earthquake-two.png");
  background-size: auto; }

.portfolio-image .halibut {
  background-image: url("/assets/images/portfolio/halibut-three.png");
  background-size: auto; }

.portfolio-image .small-game-hunter {
  background-image: url("/assets/images/portfolio/small-game-hunter.png");
  background-size: auto; }

.portfolio-image .surfboard {
  background-image: url("/assets/images/portfolio/board-small.jpg");
  background-size: auto; }

.hero-image .hero-specs {
  position: absolute;
  background-size: cover;
  min-width: 100%; }

.hero-image .black-bar {
  height: 4rem;
  background-position: center;
  background-color: #106CC8; }

.hero-image .hero {
  height: 41rem;
  background-position: center;
  background-image: url("/assets/images/website/capitan-two_opt.jpg"); }

.hero-image .bench {
  height: 12rem;
  background-position: center;
  background-image: url("/assets/images/website/sunset.jpg"); }

.hero-image .railroad {
  height: 12rem;
  background-position: bottom;
  background-image: url("/assets/images/website/capitan-two_opt.jpg"); }

.hero-image .keyboard {
  height: 12rem;
  background-position: center;
  background-image: url("/assets/images/website/keyboard-blog.jpg"); }

.hero-image .old-phone {
  height: 33rem;
  background-position: center;
  background-image: url("/assets/images/website/phone-contact.jpg"); }

.hero-image .sports-stadium {
  height: 12rem;
  background-position: center;
  background-image: url("/assets/images/blog/big-blog-sports.jpg"); }

.hero-image .personal-image {
  height: 12rem;
  background-position: center;
  background-image: url("/assets/images/website/sunset.jpg"); }

.google-image .img-specs {
  background-size: cover;
  min-height: 10rem;
  margin: 0;
  padding: 0; }

.google-image .new-york-google {
  background-image: url("/assets/images/website/new-york-sidebar.jpg"); }

.circle-trevor .circle-specs {
  background-size: cover;
  height: 7rem;
  width: 7rem;
  margin: 1rem 1rem -1rem 1rem;
  border-radius: 90px; }

.circle-trevor .footer-specs {
  background-size: cover;
  height: 5rem;
  width: 5rem;
  margin: 0rem;
  padding: 0;
  border-radius: 90px; }

.circle-trevor .trevor-grad {
  background-image: url("/assets/images/website/trevor-footer.jpg");
  background-position: center; }

.big-blog-pictures .big-blog-specs {
  min-height: 40rem;
  background-size: cover;
  background-position: center; }

.big-blog-pictures .big-blog-sports {
  background-image: url("/assets/images/blog/big-blog-sports.jpg"); }

.big-blog-pictures .big-blog-tech {
  background-image: url("/assets/images/blog/big-blog-tech.jpg"); }

.big-blog-pictures .big-blog-personal {
  background-image: url("/assets/images/blog/big-blog-personal.jpg"); }

.small-blog-pictures .small-blog-specs {
  height: 13rem;
  background-size: cover;
  background-position: center; }

.small-blog-pictures .small-blog-sports {
  background-image: url("/assets/images/blog/small-blog-sports.jpg"); }

.small-blog-pictures .small-blog-tech {
  background-image: url("/assets/images/blog/small-blog-tech.jpg"); }

.small-blog-pictures .small-blog-personal {
  background-image: url("/assets/images/blog/small-blog-personal.jpg"); }

.football-headshot .football-player {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  background-position: center;
  background-size: cover; }

.football-headshot .no-image {
  background-image: url("/assets/images/football/no-image.jpg"); }

.small-home-pictures .small-home-specs {
  height: 16rem;
  background-size: cover;
  background-position: center; }

.small-home-pictures .small-home-sports {
  background-image: url("/assets/images/website/stadium-home.jpg"); }

.small-home-pictures .small-home-tech {
  background-image: url("/assets/images/website/portfolio-home.jpg"); }

.tiny-home-pictures .tiny-home-specs {
  height: 7.5rem;
  background-size: cover;
  background-position: center; }

.tiny-home-pictures .tiny-home-sports {
  background-image: url("/assets/images/website/phone-home.jpg"); }

.tiny-home-pictures .tiny-home-tech {
  background-image: url("/assets/images/website/railroad-home.jpg"); }

.workshop-tech-pictures .workshop-tech-specs {
  background-size: cover; }

.workshop-tech-pictures .workshop-tech-top-secret {
  background-image: url("https://lh3.googleusercontent.com/nhkf9IqCg_YOWCJDO7UqG3JnpAxJhqm660Zjy6aAWw5goh2-BLWJCxQvYx9VCtlvWsAN9H01oQ462vBzuRJvcMEReOwHI0QTYsBy6QhOAqnYrv0CEgSXoFHlME5Ob-H0SXgzaBcsqC_1hF2iaWgLJruoXNn0jHgTtM8axuvOi1LFRF6FDGJNKheU1-4zFqY0oSKduaUNXnMa6jLjlvkRIarE90hui4zpcdZND7-9lKHWJY1WujX46FsaMRC6m0tgQBQdvzEiw6-ygsMepmxmHUhxd4EmnFNqjvlpBnh74znYq-n2LzfaT9Kv4MAzC4e53Lt3k8TcU-owUxrTrH1WL3Cn5eGPgQHGEneB84fYgS2uJindSVsy8r2K2JH9oO1LA9_oAa9TvHPfWGhveQZ-M6Ut5EpK7PurVD-aPFPwmG89cJ-d9-uHOEf9bbiexsnt94GMvP8I7_IsRKvQBIB5iUQgBpefKDRwIYOB9WMFWULUpiDpi9fuPtnSw8wj-ekxGLoD3XbrJRjhGYazRJ6emj3bcK1WBzU7uK9Xmul4-xE=w300-h225-no"); }

.workshop-tech-pictures .workshop-tech-adwords {
  background-image: url("http://steveblom.com/wp-content/gallery/certifications-and-associations/steve_blom_google_adwords_certified_partner.png"); }

.workshop-tech-pictures .workshop-tech-analytics {
  background-image: url("http://www.shiftcomm.com/wp-content/uploads/2015/03/gacpbadge.jpg"); }

.portfolio-tech-pictures .portfolio-tech-specs {
  height: 10rem;
  background-size: cover;
  background-position: center; }

.portfolio-tech-pictures .portfolio-tech-workit {
  background-image: url("/assets/images/blog/trevor-glass-spokane-chiefs.jpg"); }

.portfolio-tech-pictures .portfolio-tech-momentjs {
  background-image: url("/assets/images/portfolio/momentjs.jpg"); }

.portfolio-tech-pictures .portfolio-tech-doo {
  background-image: url("/assets/images/blog/draftkings-logo.jpg"); }

.portfolio-tech-pictures .portfolio-tech-sass {
  background-image: url("/assets/images/blog/trevor-glass-spokane-chiefs.jpg"); }

.portfolio-tech-pictures .portfolio-tech-jquery {
  background-image: url("/assets/images/portfolio/jquery.png"); }

.portfolio-tech-pictures .portfolio-tech-nodejs {
  background-image: url("/assets/images/blog/trevor-glass-spokane-chiefs.jpg"); }

.portfolio-tech-pictures .portfolio-tech-foundation {
  background-image: url("/assets/images/portfolio/foundation.png"); }

.portfolio-tech-pictures .portfolio-tech-bootstrap {
  background-image: url("/assets/images/portfolio/bootstrap.png"); }

.portfolio-tech-pictures .portfolio-tech-backbone {
  background-image: url("/assets/images/portfolio/backbone.jpg"); }

.portfolio-tech-pictures .portfolio-tech-bower {
  background-image: url("/assets/images/portfolio/bower.png"); }

.portfolio-tech-pictures .portfolio-tech-gulp {
  background-image: url("/assets/images/portfolio/gulp.png"); }

.portfolio-tech-pictures .portfolio-tech-html5 {
  background-image: url("https://lh3.googleusercontent.com/ZgywyridIUx2VDNHxbjn4zfbf2wSIcJqQoJn14eGA8_WutKEBY9x_tK5da5viWrogq1qYLVQoR1IqEbEnwWEW1ejn8aGlz0SPXm-aTxYKohDo1sY1_WxOCLpZVAFP-PS34ofF35H7uVb1_qYJgPLSe6yhxtW_CbKwAk4eC3eqKriXQsFcdqJKhZoXMmVEJYxU_l6DnwkzGnJxZjORUHvqa5yrxoZ_7UUyqnUPtXES6JdCxmlXQnM0IDB8y9IyBpnSHDaoOiCaGwAnrti7x-9R_UIHHnAUT-zr_M6nCrnB_DX7m6331oiu2dDvp4s208cujXBjiKvVTW9EAC1lTrdqEajZmhQlKZZmJfhYYxKRiQS7f8TJI8w1AJ0de6BFEYBhI4uQN_c5_4q0yHU9Hy4gexifCzguphXrQ7nWbH9TPbvqEtdPTHBlHlHObG_2Eh3tGRzf_Q0qor-CaWVLtaLqfHyF94zV6c1sy7KzkfCM35sHYCwqXGWDsbYlKY3EpJA6VgfMdvRp0e8_ErAm0NRhTiJ4bDURjXvdnOjLlMMYHU=w200-h237-no"); }

.portfolio-tech-pictures .portfolio-tech-npm {
  background-image: url("/assets/images/portfolio/npm.png"); }

.portfolio-tech-pictures .portfolio-tech-heroku {
  background-image: url("/assets/images/portfolio/heroku.jpg"); }

.portfolio-tech-pictures .portfolio-tech-mongodb {
  background-image: url("/assets/images/portfolio/mongo.png"); }

.portfolio-tech-pictures .portfolio-tech-wordpress {
  background-image: url("/assets/images/portfolio/wordpress.jpg"); }

.portfolio-tech-pictures .portfolio-tech-jekyll {
  background-image: url("/assets/images/portfolio/jekyll.png"); }

.portfolio-tech-pictures .portfolio-tech-angular {
  background-image: url("/assets/images/portfolio/angular.png"); }

.portfolio-tech-pictures .portfolio-tech-google-maps {
  background-image: url("/assets/images/portfolio/maps-long.png"); }

.portfolio-tech-pictures .portfolio-tech-weatherug {
  background-image: url("/assets/images/portfolio/underground-long.png"); }

.portfolio-tech-pictures .portfolio-tech-etsy {
  background-image: url("/assets/images/portfolio/etsy.png"); }

.portfolio-tech-pictures .portfolio-tech-reddit {
  background-image: url("/assets/images/portfolio/reddit-long.png"); }

.portfolio-tech-pictures .portfolio-tech-food-fork {
  background-image: url("/assets/images/portfolio/food-fork-long.jpg"); }

.about-me-pictures .about-me-specs {
  background-size: cover; }

.about-me-pictures .about-me-iron-grad {
  background-image: url("/assets/images/about/mountain-hike.jpg");
  background-position: top; }

.about-me-pictures .about-me-my-book {
  background-image: url("/assets/images/about/my-book.jpg"); }

.about-me-pictures .about-me-kenz {
  background-image: url("/assets/images/about/kenz-model.jpg"); }

.about-me-pictures .about-me-spokane {
  background-image: url("/assets/images/about/spokane-chiefs.jpg"); }

.about-me-tiny-pictures .about-me-tiny-specs {
  background-size: cover; }

.about-me-tiny-pictures .about-me-fishing {
  background-image: url("/assets/images/about/fishing.jpg"); }

.about-me-tiny-pictures .about-me-charleston-view {
  background-image: url("/assets/images/about/charleston.jpg"); }

.about-me-tiny-pictures .about-me-pump-jack {
  background-image: url("/assets/images/about/oilrig.jpg");
  background-position: left; }

.about-me-tiny-pictures .about-me-cup-kiss {
  background-image: url("/assets/images/about/broken-cup.jpg"); }

.about-me-tiny-pictures .about-me-golf {
  background-image: url("/assets/images/about/golf.jpg"); }

.about-me-tiny-pictures .about-me-drone {
  background-image: url("/assets/images/about/drone.jpg"); }

.about-me-tiny-pictures .about-me-snowboarding {
  background-image: url("/assets/images/about/snowboarding.jpg"); }

.about-me-tiny-pictures .about-me-wave-swim {
  background-image: url("/assets/images/about/wave.jpg"); }

.portfolio-grid-pictures .portfolio-grid-specs {
  height: 30rem;
  background-size: cover;
  background-position: center; }

.portfolio-grid-pictures .portfolio-grid-momentjs {
  background-image: url("/assets/images/portfolio/fish-waves.jpg"); }

.small-grid-pictures .small-grid-specs {
  height: 15rem;
  background-size: cover;
  background-position: center; }

.small-grid-pictures .small-grid-duck {
  background-image: url("/assets/images/portfolio/mallard.jpg"); }

.small-grid-pictures .small-board {
  background-image: url("/assets/images/portfolio/board-small.jpg"); }

.small-grid-pictures .small-quake {
  background-image: url("/assets/images/portfolio/quake-opt.jpg"); }

body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white; }

h6 {
  color: black; }

a:hover {
  text-decoration: none; }

md-dialog {
  max-width: 25rem;
  margin: 1rem;
  padding: 0; }

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 200px !important;
  width: 85vw !important;
  max-width: 250px !important; }

.grey-background {
  background-color: #f5f5f5;
  height: 100%; }

.reading-background {
  background-color: white;
  padding: 2rem; }

.fountain {
  text-align: center;
  margin: 0;
  margin-top: .5rem;
  padding: 0; }

.fancy-of {
  font-family: cursive;
  font-size: 1.3rem;
  margin: 0;
  padding: 0; }

.hero-page-title {
  padding-top: 9.5rem;
  color: white;
  font-weight: bold; }
  .hero-page-title h1 {
    text-align: center; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

.header-button {
  font-weight: bold;
  font-size: 1rem; }

.content-wrap {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }

.blog-content-wrap {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: .5rem;
  border: 1px solid #eaeaed; }

[md-hero-picture] {
  position: relative;
  width: 100%;
  height: 5rem;
  /* Simple trick to keep a 16:9 ratio on your background image (height=0;padding-bottom=56.25%) */
  padding-bottom: 43.25%;
  overflow: hidden;
  background-size: 100%;
  /* You can override this value if your picture has a weird ratio */
  background-position: 50% 50%; }

[md-header-picture] {
  position: relative;
  width: 100%;
  height: 5rem;
  /* Simple trick to keep a 16:9 ratio on your background image (height=0;padding-bottom=56.25%) */
  padding-bottom: 26.25%;
  overflow: hidden;
  background-size: 110%;
  /* You can override this value if your picture has a weird ratio */
  background-position: 50% 50%; }

[scroll] {
  position: fixed;
  top: 0; }

/* I made a simple scale animation on float action button during scroll */
.main-fab {
  position: absolute;
  left: calc(100% - 70px);
  z-index: 20;
  transform: scale(1, 1);
  transition: transform 0.1s ease-out; }

.main-fab.hide {
  transform: scale(0, 0);
  transition: transform 0.1s ease-out; }

/* Lines of code below are just here to get a better aspect but optionnal */
section {
  height: 1600px; }

i {
  font-size: 24px; }

.md-tools {
  width: 40px; }

.muted {
  color: #bbb;
  font-size: inherit;
  font-weight: 700;
  text-align: left; }

.md-tile-left {
  margin-right: 0 !important;
  padding-left: 24px;
  color: #3f51b5; }

.fixy {
  display: block;
  top: 0;
  left: 0;
  right: 0; }

.shrink-wrapper {
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: auto;
  width: 100%;
  border: 1px solid black;
  overflow: hidden; }

.shrink-content {
  height: 100%; }

.toolbardemoScrollShrink .face {
  width: 48px;
  margin: 16px;
  border-radius: 48px;
  border: 1px solid #ddd; }

.heading-top {
  text-align: center; }
  .heading-top span {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0;
    border-top: 2px solid black;
    font-weight: bold; }

.aside-top {
  text-align: center; }
  .aside-top span {
    text-align: center;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 0;
    border-top: 2px solid black;
    font-weight: bold;
    font-size: 1.3rem; }

.social-aside {
  margin-top: -5rem;
  margin-bottom: -2rem; }

.trevor-glass-bottom {
  position: absolute;
  height: 15rem;
  width: 15rem;
  padding: 0;
  right: 1rem;
  margin-top: -8rem; }
  .trevor-glass-bottom .trevor {
    margin: 0;
    padding: 0;
    width: 100%; }

.md-toolbar.custom-bar {
  margin: 0;
  padding: 0;
  background-color: #252525; }

.carousel-container {
  height: 5.3rem;
  border-bottom: 1px solid #CCCCCC; }

.small-image-container {
  width: 5.5rem;
  height: 5.5rem; }

.logo-name span {
  color: white;
  font-size: 1.4rem;
  font-weight: bold; }

.list-style-container {
  border-top: 1px solid #E3E3E3;
  display: flex; }
  .list-style-container a {
    font-family: Georgia;
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
    padding: 0;
    margin: 0; }
  .list-style-container .title {
    margin: -0.8rem 0rem 0rem 0rem;
    padding: 0; }
  .list-style-container .list-style-content {
    color: black;
    font-size: .85rem;
    padding: 0;
    margin: 0; }

.left-ad {
  padding-top: 1.5rem;
  width: 175px;
  margin: 0 auto; }

.related-title a {
  margin: 0;
  padding: 0;
  font-size: .9rem; }

.clear-icon {
  margin-bottom: 1rem;
  margin-right: 1rem; }

.menu-icon {
  margin-right: .05rem;
  margin-bottom: .75rem; }

.exercise-link {
  border-top: 1px solid #EAEAED;
  text-align: center;
  padding: .3rem; }
  .exercise-link a {
    color: black; }

.reddy {
  background-color: green; }

.right-tab-content {
  border-top: 1px solid #EAEAED;
  text-align: right; }
  .right-tab-content a {
    color: black; }

.exercise-image-container {
  display: flex;
  margin: 0;
  padding: 0; }
  .exercise-image-container a {
    margin-top: 1rem;
    color: black; }

.exercise-title {
  color: black;
  float: left;
  font-size: 1rem;
  font-weight: bold; }

.calming-grey {
  background-color: #F2F2F2; }

.exercise-list a {
  color: #F44336; }

.chart-test {
  height: 40rem; }

.image-dialog {
  display: block;
  margin: 0 auto; }

.center {
  text-align: center; }

.dialog-text {
  margin: .5rem;
  padding: 0; }

.inside-dialog {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block; }

.blackie {
  background-color: #106CC8; }

.built-with {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 1rem; }

.home-section {
  height: 100%;
  padding: 2rem 0rem; }

.home-section-work {
  height: 100%;
  padding: 2rem 0rem; }

.padded {
  padding-bottom: 3rem; }

.home-description {
  margin: 0rem 1rem; }
  .home-description a {
    color: #F44336;
    font-weight: bold; }

.home-description-white {
  color: white;
  margin: 1rem; }
  .home-description-white a {
    color: #F44336;
    font-weight: bold; }

.home-title {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 4rem; }

.home-title-white {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 4rem;
  color: white; }

.burger-icon {
  margin-right: 1rem;
  margin-left: 0rem;
  margin-bottom: 1rem; }

.port-burger {
  margin-right: 1rem;
  margin-left: 0rem;
  margin-bottom: 1rem; }

.burger-blog {
  position: absolute;
  top: 2rem;
  right: -3rem; }

.menu-bump {
  margin-top: 3.5rem; }

.white-burger {
  color: white; }

.bump-menu {
  margin-top: 3.05rem;
  background-color: #212121; }

.full-butter {
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0px;
  background-color: white; }

.full-butter-clear {
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #CCCCCC;
  border-radius: 0px;
  background-color: white; }

.right-speed {
  position: absolute;
  right: 0rem;
  top: 3rem; }

.port-fab-icon {
  margin-bottom: .5rem;
  margin-right: 1.5rem; }

.full-size {
  width: 100%; }
  .full-size a {
    color: black; }

.header-dial {
  width: 100%;
  background-color: white; }
  .header-dial .md-button {
    color: black; }

.tester {
  background-color: green;
  width: 100%; }

.trigger-dial-title {
  cursor: pointer;
  font-weight: bold;
  margin-top: -.3rem;
  padding-top: .5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  font-size: .9rem;
  background-color: white;
  z-index: 100;
  letter-spacing: .5px; }

.fabSpeedDialdemoBasicUsage .text-capitalize {
  text-transform: capitalize; }

.fabSpeedDialdemoBasicUsage .md-fab:hover, .fabSpeedDialdemoBasicUsage .md-fab.md-focused {
  background-color: #000 !important; }

.fabSpeedDialdemoBasicUsage p.note {
  font-size: 1.2rem; }

.fabSpeedDialdemoBasicUsage .lock-size {
  min-width: 300px;
  min-height: 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto; }

.fronty {
  z-index: 999; }

.md-menu-content.full-menu {
  margin-top: 3rem; }

.dark-header {
  background-color: rgba(0, 0, 0, 0.01);
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 99;
  /*   position: fixed;
top: 0;
left: 0;
z-index: 9999;
width: 100%;
height: 50px; */
  /*   border-bottom:1px solid white;
 */ }

.g-plusone {
  margin: 1rem 0rem;
  padding: 1rem 0rem; }

.dark-bar {
  width: 100%;
  height: 1rem;
  background-color: #000000; }

.printer-friend {
  text-align: center;
  margin: 1rem;
  color: #F44336; }
  .printer-friend a {
    color: #F44336; }

.grey-back {
  background-color: #F5F7FA; }

.pageWrap {
  width: 97%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  background-color: #F5F7FA; }

.page-title {
  font-size: 1.5rem;
  position: absolute;
  color: white;
  margin: 1rem;
  margin-top: 9rem;
  z-index: 10; }

.page-title-black {
  font-size: 1.5rem;
  margin: 1rem;
  z-index: 10; }

.page-title-margin {
  font-size: 1.5rem;
  margin: 1rem 1rem -1rem 1rem;
  z-index: 10;
  background-color: #F5F7FA; }

.page-title-small {
  font-size: 1.5rem;
  margin: 1rem 1rem 1rem 0rem;
  z-index: 10;
  background-color: #F5F7FA; }

.active {
  width: 30%;
  padding: 0;
  margin: 0; }

.header-link a {
  color: white;
  text-decoration: none;
  margin: 1rem;
  font-weight: bolder; }

.tabs-container {
  margin: 0rem 1rem;
  padding-bottom: 3rem;
  padding-top: 1rem; }

.tabs-round {
  border-radius: 2px; }

.tab-width {
  width: 33%; }

.main-portfolio {
  background-color: #F5F7FA; }

.skills-list {
  list-style: none; }

.tag-title {
  color: green;
  font-size: 2rem; }

.tags-container {
  box-sizing: border-box;
  border-top: 1px solid #E5E7EA;
  padding-left: .5rem; }

.bubble-wrap {
  margin-left: auto;
  margin-right: auto;
  float: right; }
  .bubble-wrap .comment-bubble {
    margin-right: 1.1rem;
    margin-top: -.6rem;
    float: right;
    z-index: 50; }
  .bubble-wrap .comment-link {
    color: white;
    z-index: 10;
    margin-top: -1.15rem;
    margin-left: -.25rem;
    position: absolute;
    border: none;
    font-weight: bold; }

.bubble-wrap:hover a {
  border: none; }

.social-button {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 4rem;
  width: 4rem;
  margin-bottom: 2rem;
  border: 1px solid black;
  border-radius: 90px; }

.social-icon {
  display: block;
  padding-right: .9rem;
  margin-top: .8rem; }

.circle-row {
  margin-top: 4rem;
  margin-bottom: 3rem; }

.contact-icon {
  display: block;
  padding-right: 2.5em;
  margin-top: -1.85rem; }

.contact-header {
  margin: 0;
  padding: 0; }

.contact-phrase {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 0;
  padding-bottom: 2rem;
  padding-top: 0; }

.contact-container .md-button.md-raised.md-icon-button.huge-circle {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 9rem;
  width: 9rem;
  margin-top: 1rem;
  border-radius: 90px;
  border: 3px solid #E5E7EA;
  background-color: #212121; }

.contact-container .contact-circle {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 9rem;
  width: 9rem;
  margin-top: 1rem; }

.contact-container .contact-title {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0rem 0rem 0rem;
  padding: 0;
  text-align: center;
  color: #F44336; }

.contact-container .contact-details {
  text-align: center;
  color: black;
  font-weight: bolder; }

.contact-one:hover .md-button.md-raised.md-icon-button.huge-circle {
  transition: ease-in 0.3s;
  border: 3px solid #F44336; }

.contact-one:hover .contact-details {
  border-bottom: 2px solid #F44336;
  margin: 0rem 0.5rem;
  transition: ease-in 0.3s; }

.contact-two:hover .md-button.md-raised.md-icon-button.huge-circle {
  transition: ease-in 0.3s;
  border: 3px solid #F44336; }

.contact-two:hover .contact-details {
  border-bottom: 2px solid #F44336;
  margin: 0rem 2rem;
  transition: ease-in 0.3s; }

.contact-three:hover .md-button.md-raised.md-icon-button.huge-circle {
  transition: ease-in 0.3s;
  border: 3px solid #F44336; }

.contact-three:hover .contact-details {
  border-bottom: 2px solid #F44336;
  margin: 0rem 2rem;
  transition: ease-in 0.3s; }

.contact-four:hover .md-button.md-raised.md-icon-button.huge-circle {
  transition: ease-in 0.3s;
  border: 3px solid #F44336; }

.contact-four:hover .contact-details {
  border-bottom: 2px solid #F44336;
  margin: 0rem 2rem;
  transition: ease-in 0.3s; }

.contact-five:hover .md-button.md-raised.md-icon-button.huge-circle {
  transition: ease-in 0.3s;
  border: 3px solid #F44336; }

.contact-five:hover .contact-details {
  border-bottom: 2px solid #F44336;
  margin: 0rem 2rem;
  transition: ease-in 0.3s; }

.contact-bg {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }

.expand-more {
  display: block;
  padding-right: 2.5rem; }

.contact-inside {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  height: 7.5rem;
  width: 35%;
  top: 12rem;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.4)), color-stop(100%, rgba(0, 0, 0, 0.75)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#bf000000',GradientType=0 );
  border: 1px solid white; }

.contact-inside h2 {
  text-shadow: 4px 2px 16px #000000;
  text-align: center;
  color: #fefefe;
  width: 100%;
  font-size: 3rem;
  font-weight: lighter; }

.contact-inside h4 {
  text-shadow: 4px 2px 16px #000000;
  text-align: center;
  color: #fefefe;
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 3.5rem;
  font-weight: bold;
  font-weight: lighter; }

.contact-inside h5 {
  text-shadow: 4px 2px 16px #000000;
  text-align: center;
  color: #fefefe;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 1.3rem;
  font-weight: bold;
  font-weight: lighter; }

.main-story {
  margin-top: -2.9rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 2px;
  position: relative;
  text-align: left;
  z-index: 50; }
  .main-story .card-top {
    height: 16rem;
    width: 100%;
    box-sizing: border-box; }
  .main-story .cardName {
    margin-top: -3rem; }

.time {
  background-color: #F44336;
  padding: 0.1rem 0.5rem;
  margin-bottom: .3rem;
  color: white;
  border-radius: 2px; }

.about-point {
  display: block;
  z-index: 100;
  position: absolute;
  left: 50%; }

.flag {
  position: relative;
  display: inline;
  background: #f8f8f8;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 600;
  text-align: left;
  margin-bottom: .5rem; }

.story-box {
  margin-top: 0;
  height: 9rem;
  width: 9rem;
  float: right; }

.story-box-left {
  margin-top: 0;
  height: 9rem;
  width: 9rem;
  float: left; }

.about-story-container .left-story {
  float: left;
  margin-left: 3rem;
  margin-right: -.45rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 2px;
  position: relative;
  text-align: right;
  z-index: 50;
  border: 3px solid white; }

.about-story-container .right-story {
  float: right;
  margin-right: 3rem;
  margin-left: .8rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 2px;
  position: relative;
  text-align: left;
  z-index: 50;
  border: 3px solid white; }

.user-icon {
  position: absolute;
  padding-left: 0;
  margin-top: -.5rem;
  margin-left: -.49rem; }

.my-story {
  padding-bottom: 3rem; }

.my-name a {
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bold;
  border: 2px solid white;
  padding: 0.2rem 0.7rem;
  border-radius: 50%; }

.my-name a:hover {
  color: #F44336;
  transition: .3s ease-in;
  border: 2px solid #F44336; }

.card-header {
  text-align: center;
  color: black;
  font-size: .8rem;
  text-transform: uppercase; }

.post-image-fill {
  width: 100%;
  height: 100%; }

.post-title {
  text-align: center;
  box-sizing: border-box;
  font-size: .8rem;
  letter-spacing: -1px;
  line-height: 1;
  color: #F44336; }

.post-tag-title {
  font-weight: bold; }

.exercise-list-title {
  font-size: 1rem; }

.post-content {
  font-size: 16px;
  font-family: georgia; }

.post-meta {
  margin-top: -1rem; }

.detail-image {
  width: 30%;
  float: left;
  clear: right;
  margin-right: 1rem; }

.detail-title {
  font-weight: bold; }

.detail-footer {
  margin: 2rem 0rem;
  padding-bottom: 2rem; }

.post-body {
  background-color: white;
  border: 1px solid #DADADA; }

.aside-body {
  margin: 2rem 0rem 2rem 1rem;
  padding: 1.5rem;
  background-color: white;
  border: 1px solid #DADADA; }

/**
 * Site footer
 */
.padding-bump {
  height: 2rem; }

.portfolio-footer {
  border-top: 1px solid #e8e8e8;
  background-color: #212121;
  color: white;
  z-index: 100; }

.footer-icon {
  display: block;
  padding: .5rem;
  margin-bottom: 2rem;
  background-color: #303030;
  border-radius: 90px; }

.footer-icon:hover {
  background-color: #F44336;
  transition: ease-in 0.3s; }

.footer-shrink {
  margin-top: 1rem;
  margin-bottom: -2rem;
  padding: 0; }

.footer-heading {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem; }

.site-description {
  text-align: center; }

.footer-rights {
  margin: 1rem 0rem;
  padding-bottom: 0;
  text-align: center;
  color: #2d2d2d;
  font-weight: bold; }

.portfolio-link {
  margin: 1rem 0rem;
  padding-bottom: 0;
  text-align: left;
  color: #373d48; }

.rights-name {
  color: #2d2d2d;
  font-weight: bold; }

.footer-button {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 2rem;
  width: 2rem;
  margin-bottom: 2rem;
  border: 1px solid black;
  border-radius: 90px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.page-heading {
  font-size: 20px; }

.post-link {
  display: block;
  font-size: 24px; }

.post-list {
  list-style: none; }
  .post-list a {
    color: black; }

.sidebar-img-seven {
  margin: 1rem 0rem;
  width: 715px; }

.circle-number {
  border: 1px solid black;
  background-color: green; }

.list-number {
  background-color: #212121;
  color: white;
  padding: 0.4rem 0.9rem 0.5rem 0.9rem;
  border-radius: 50%;
  font-size: 20px; }

.list-header {
  font-size: 20px;
  margin-left: -2rem;
  background-color: #e5e5e5;
  height: 100%;
  line-height: 3rem;
  padding-left: .3rem; }

.home-button .home-top {
  height: 7.5rem;
  background-color: grey;
  margin-bottom: 1rem;
  padding: 0; }

.home-button .home-bottom {
  height: 7.5rem;
  background-color: grey;
  margin-top: 1rem;
  padding: 0; }

.nav-potfolio-icon {
  margin-right: 3rem; }

.color-header {
  display: flex; }

.red-header {
  background-color: #D5202A;
  width: 20%;
  height: .3rem; }

.orange-header {
  background-color: #FF8833;
  width: 20%;
  height: .3rem; }

.yellow-header {
  background-color: #FFB92F;
  width: 20%;
  height: .3rem; }

.green-header {
  background-color: #5B9F49;
  width: 20%;
  height: .3rem; }

.blue-header {
  background-color: #15AADC;
  width: 20%;
  height: .3rem; }

.hero-padding {
  margin: 1.5rem; }

.box-header {
  border-bottom: 2px solid #EFEFEF;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: -1rem; }
  .box-header h2 {
    margin-bottom: -.1rem;
    font-weight: bold;
    padding: 0; }
  .box-header a {
    color: #212121; }

.box-header-blog {
  border-bottom: 2px solid #EFEFEF;
  margin-left: 1rem;
  margin-right: 1rem; }
  .box-header-blog h2 {
    margin-bottom: -.1rem;
    font-weight: bold;
    padding: 0; }
  .box-header-blog a {
    color: #212121; }

.home-folders {
  margin-bottom: .2rem;
  margin-right: .3rem; }

.home-contact a {
  color: #212121; }

.home-email {
  border-bottom: 1px solid #EFEFEF;
  padding-top: .5rem; }
  .home-email a {
    margin: 1rem; }

.home-phone {
  border-bottom: 1px solid #EFEFEF;
  padding-top: .5rem; }
  .home-phone a {
    margin: 1rem; }

.home-github {
  border-bottom: 1px solid #EFEFEF;
  padding-top: .5rem; }
  .home-github a {
    margin: 1rem; }

.home-linkedin {
  border-bottom: 1px solid #EFEFEF;
  padding-top: .5rem; }
  .home-linkedin a {
    margin: 1rem; }

.home-twitter {
  padding-top: .5rem; }
  .home-twitter a {
    margin: 1rem; }

.home-bout {
  margin-top: 2rem;
  padding: 0.5rem 2rem 2rem 2rem;
  text-align: center; }

.md-actions {
  width: 100%;
  height: 3.3rem; }

.centered {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15%; }

.shirt-embed {
  margin-top: .5rem;
  margin-left: 1.7rem; }

.blog-i {
  height: 14rem;
  width: 25rem; }

.bloggy-content {
  color: black;
  font-size: .85rem;
  text-align: center;
  margin-bottom: 4rem; }

.post-image {
  width: 200px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 16rem;
  height: 23rem; }

.blog-wrap {
  display: flex;
  text-align: center; }
  .blog-wrap .read-more a {
    color: #F44336; }
  .blog-wrap .bloggy-title a {
    text-align: center;
    font-size: 1.6rem;
    color: #212121;
    font-family: 'Lora', serif;
    font-weight: bold; }

.post-content-container {
  margin-top: 1rem; }

.fancy {
  font-family: 'Script', cursive;
  color: #CECECB; }

.blog-wrap:hover .post-image {
  border: 4px solid #F44336;
  transition: .3s ease-in; }

.blog-wrap:hover .bloggy-title a {
  color: #F44336;
  transition: .3s ease-in; }

.author-container {
  margin-top: -1rem; }

.author {
  margin-top: 0rem;
  margin-bottom: 0;
  font-size: .85rem; }
  .author a {
    color: #F44336;
    text-transform: uppercase; }

.bloggy-date {
  text-align: center; }

.fitness-card {
  padding: 1rem; }

.port-link {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.read-more a {
  color: #F44336; }

.main-nav {
  display: flex; }
  .main-nav li {
    margin: 1rem;
    list-style: none;
    font-weight: bold; }
  .main-nav li:hover {
    border-bottom: 1.5px solid white; }
  .main-nav a {
    color: white; }

.image-bump-two {
  margin-top: 6rem; }

.color-back {
  background-color: #F5F7FA; }

.home-two {
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
  margin-top: 2rem; }
  .home-two span {
    padding-top: 1rem;
    border-bottom: 2px solid #F44336; }

.home-three {
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem; }

.first-blog {
  margin: auto; }

.testy2 {
  height: 15rem; }

.testy3 {
  height: 15rem; }

.testy4 {
  height: 15rem; }

.testy5 {
  height: 25rem; }

.testy6 {
  height: 25rem;
  background-color: #F6F6F6; }

.testy7 {
  height: 10rem; }

.testy8 {
  height: 10rem;
  background-color: #444444; }

.testy9 {
  height: 10rem;
  background-color: #106CC8; }

.testy10 {
  height: 10rem;
  background-color: #1266BB; }

.testy14 {
  height: 12rem;
  background-color: red; }

.trevor-wrap {
  width: 170px;
  margin: 0 auto; }

.trevor-info {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: bold; }

.md-button.md-icon-button.social-trevor {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 5.5rem;
  width: 5.5rem;
  margin-top: 2.2rem;
  margin-bottom: 1rem; }

.md-button.md-icon-button.social-trevor:hover {
  transition: ease-in 0.3s; }

.social-buts {
  width: 90px;
  margin: 0 auto; }

.social-buts-icon {
  padding-right: 1.2em;
  margin-top: -1rem; }

.trevor-stats {
  color: white;
  font-size: 2.8rem;
  text-align: center;
  margin-top: 2.2rem;
  margin-bottom: 0;
  font-weight: bold; }

.trevor-stats-mini {
  color: white;
  text-align: center;
  margin-top: -.9rem;
  font-weight: bold; }

.skill-info {
  color: white;
  margin: 3rem 1rem 2rem 1rem; }
  .skill-info h4 {
    font-weight: bold;
    margin-bottom: 0; }

.skill-icon {
  margin-top: 3rem;
  padding-left: 2.5rem; }

.angular-google-map-container {
  height: 600px;
  width: 100%; }

.exercise-chart {
  margin-top: 2.5rem; }

.bloggy-but-wrap {
  width: 180px;
  margin: 0 auto; }

.md-button.bloggy-but {
  padding: 0.5rem 1rem;
  background-color: #F6F6F6;
  border: 2px solid #E5E7EA; }
  .md-button.bloggy-but h3 {
    margin: 0;
    padding: 0; }

.chart-legend {
  margin-top: 2rem; }

.hero-bar {
  width: 100%;
  background-color: black;
  height: 6rem; }

.blog-negative {
  margin-top: -1.6rem; }

.tag-cloud {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem; }

.tag-cloud-title {
  text-align: center;
  font-weight: bold; }

.tag-heading {
  font-weight: bold;
  font-size: 1.8rem; }

.tag-post-title {
  font-weight: 1rem; }

.category-title {
  text-align: center;
  font-weight: bold; }

.page-wrap {
  width: 85%;
  margin-left: auto;
  margin-right: auto; }

.post-bump {
  margin-top: 1.2rem; }

.blogs-wrap {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem; }

.long-ad-wrap {
  margin-top: 1rem;
  width: 100%;
  margin-bottom: 1rem; }

.long-ad {
  width: 980px;
  margin: 0 auto; }

.in-try {
  width: 100%;
  height: 12rem; }

.blogger-g a {
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
  font-weight: bold;
  padding: 0.2rem 0.2rem;
  border-radius: 50%; }

.blogger-g a:hover {
  color: #F44336;
  transition: .3s ease-in; }

.blog-nav {
  list-style: none;
  border-bottom: 1px solid #EAEAED; }
  .blog-nav span {
    font-size: 1.2rem; }
  .blog-nav li {
    padding: 0;
    margin: 0; }

.nav-button {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-top: .4rem;
  color: black;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0; }

.nav-button:hover {
  border-left: 6px solid #F44336;
  transition: .2s ease-in; }

.accord .child-item {
  display: none; }

.accord:hover .child-item {
  display: inline-block;
  transition: .4s ease-in; }

.full-width {
  width: 100%;
  z-index: 100; }

.sidebar-icon {
  padding-right: 1rem;
  margin-bottom: .7rem; }

.aside-bump {
  padding-top: 2.05rem; }

.blog-bar {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  height: 3.2rem;
  border-top: 2px solid black; }

.blog-bar-circle {
  width: 400px;
  margin: 0 auto;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-top: -4.5rem;
  background-color: black;
  border: 2px solid black; }

.athlete-money li {
  margin: 1rem 0rem; }

.athlete-money p {
  margin: 1rem 0rem; }

.good-option {
  border-bottom: 4px solid #109618; }

.future-option {
  border-bottom: 4px solid #FF9900; }

.risky-option {
  border-bottom: 4px solid #DC3912; }

.border-sep {
  border-bottom: 1px solid #EAEAED;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%; }

.aside-sep {
  border-bottom: 1px solid #EAEAED;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%; }

.social-bar {
  display: flex;
  background-color: white;
  height: 3rem;
  width: 100%;
  border-bottom: 1px solid #CCCCCC; }

.top-social {
  margin-top: .9rem;
  margin-right: .5rem;
  float: right; }

.top-social-left {
  margin-top: .9rem;
  margin-left: .5rem; }

.top-social-text {
  position: absolute;
  top: 1rem;
  left: 2.1rem;
  color: black;
  font-weight: bold;
  font-size: .8rem; }
  .top-social-text a {
    color: black; }

.fancy-name {
  font-family: 'Courgette', cursive;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin-top: .4rem; }

.blog-cred {
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-top: .2rem;
  margin-bottom: .5rem; }
  .blog-cred a {
    color: #F44336; }

.aside-border {
  margin-top: .5rem; }

.menu-ad {
  margin-top: 2rem;
  margin-right: 1rem;
  border: 1px solid black; }

.back-home {
  position: absolute;
  top: 3rem;
  left: .5rem; }
  .back-home a {
    color: black; }
  .back-home a:hover {
    color: #F44336; }

.workout-box {
  padding: .5rem;
  border: 1px solid white;
  text-align: center; }
  .workout-box .left-side {
    text-align: left;
    margin-left: .5rem; }

.table-legend {
  background-color: #106CC8;
  color: white; }

.row-one {
  background-color: #D1D8EA; }

.row-two {
  background-color: #E8ECF5; }

.footer-nav {
  width: 460px;
  margin: 0 auto;
  display: flex;
  list-style: none;
  text-transform: uppercase; }
  .footer-nav a {
    color: white;
    text-align: center;
    font-size: .9rem; }
  .footer-nav li {
    margin: 0rem 1.5rem 0.5rem 1.5rem; }
  .footer-nav a:hover {
    color: #F44336; }

.cool-border {
  border: 1px solid #EAEAED;
  padding: .3rem;
  margin: 1rem 0rem; }

.cook-time {
  margin-left: 2rem;
  margin-top: 3rem; }

.cook-prep {
  margin-left: 2rem; }

.blog-header {
  background-color: white; }

.entry-title {
  font-family: Georgia; }
  .entry-title a {
    color: #444444; }

.progress-title {
  margin-top: 1rem;
  text-align: center;
  font-family: Georgia; }
  .progress-title a {
    color: #444444; }

.inside-image {
  margin: 1rem; }

.image-resizer {
  color: black;
  font-size: 1.2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-left: .5rem;
  border-bottom: 1px solid black; }

.exercise-legend {
  font-family: Georgia;
  padding: 0rem 1rem;
  font-size: .8rem; }
  .exercise-legend .exercise-detail {
    font-weight: bold; }

.progress-sec {
  margin-top: 2rem;
  border-top: 1px solid #EAEAED; }

.blog-i {
  height: 14rem;
  width: 25rem; }

.post-image {
  width: 200px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 16rem;
  height: 23rem;
  padding: .3rem; }

.exercise-border {
  border: 1px solid #EAEAED;
  padding: .3rem; }

.search-list {
  font-size: 1rem;
  margin: .1rem;
  padding: 0; }
  .search-list li {
    border-bottom: 1px solid #EAEAED;
    background-color: #F3F3F3;
    margin: 1rem 0rem 0.5rem 0rem;
    padding: .5rem; }
  .search-list a {
    color: black; }

#mc_embed_signup {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font: 14px Helvetica,Arial,sans-serif; }
  #mc_embed_signup input.chimp-input {
    background-color: white; }
  #mc_embed_signup input {
    border: none; }

.mail-chimp-label {
  padding-top: 1rem;
  width: 100%;
  margin-bottom: -.6rem;
  margin-right: -.5rem; }

.chimp-input {
  color: white;
  background-color: white;
  width: 100%; }

.chimp-button-center {
  width: 100px;
  margin: 0 auto;
  margin-top: -.5rem; }

.news-letter-title {
  color: white;
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: -1.5rem;
  padding: 0; }

.chimp-button {
  background-color: #F44336;
  border-radius: 0px;
  padding: .5rem;
  color: white;
  font-size: 1rem;
  border: 1px solid #F44336; }

.input-full {
  width: 100%; }

.itunes-app {
  display: inline-block;
  overflow: hidden;
  background: url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;
  width: 165px;
  height: 40px;
  float: right; }

.dev-wrap {
  width: 100px;
  margin: 0 auto; }

.rights-container {
  border-top: 1px solid #303030;
  background-color: #212121; }

.site-footer {
  border-top: 1px solid #e8e8e8;
  background-image: url("/assets/images/website/squigs.png");
  background-repeat: repeat-x;
  color: white;
  z-index: 100;
  margin-top: 1rem; }

.footer-content {
  margin-top: 2rem; }

.meet-dev-title {
  text-align: center; }

.linkers {
  padding-left: 2rem; }

.meet-the-dev {
  padding-left: 1rem; }
  .meet-the-dev h3 {
    margin: 0;
    padding: 0; }
  .meet-the-dev li {
    list-style: none;
    margin-left: -2rem; }

.shade-slide {
  height: 100%;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.75)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#bf000000',GradientType=0 ); }

@media (max-width: 585px) {
  .blog-content-wrap {
    width: 100%; }
  .content-wrap {
    width: 100%; }
  .reading-background {
    padding: 0; }
  .hero-page-title {
    width: 150px;
    padding-top: 5rem;
    font-size: .8rem; } }

.md-sidenav-right.awesome-sidebar {
  background-color: #106CC8; }

.md-theme-light.awesome-toolbar {
  border-bottom: 1px solid #777777; }

.md-button:hover {
  border-radius: 0px; }

.md-button.card-details {
  color: black; }

.md-button.all-posts {
  float: right;
  margin-top: -.1rem;
  background-color: #F5F7FA; }

/* .md-button.awesome-side-nav {
  width: 100%;
  border-radius: 0px;
  border-bottom: 1px solid white;
  margin: 0rem;
  padding: 0;
  a {
    color: white;
  }
} */
.md-button.awesome-button {
  width: 100%;
  height: 7.5rem;
  border-radius: 0px;
  background-color: #F44336;
  color: white;
  padding: 0;
  margin: 0; }

.md-button.burger-item {
  width: 100%;
  border-radius: 0px;
  margin-left: auto;
  margin-right: auto;
  color: white; }

.md-button.standard-button {
  border: 1px solid black;
  border-radius: 0px;
  float: left;
  margin: .3rem;
  color: black; }

.md-button.md-icon-button.card-comment {
  margin: 0 0.6rem;
  height: 3rem;
  min-width: 0;
  line-height: 3rem;
  padding: 0;
  width: 3rem; }

.md-button.md-icon-button.logo-button {
  margin: 0.1rem 0.3rem 0.1rem -0.5rem;
  height: 3.4rem;
  min-width: 0;
  line-height: 3.4rem;
  padding: 0;
  width: 3.4rem; }

.md-button.md-icon-button.burger {
  margin: 0.1rem 0rem 0.1rem 0.3rem;
  height: 3.4rem;
  min-width: 0;
  line-height: 3.4rem;
  padding: 0;
  width: 3.4rem; }

.md-button.md-icon-button.burger-blog {
  position: absolute;
  top: -2.8rem;
  right: -.2rem; }

.post-icon {
  position: absolute;
  padding-left: 0;
  margin-left: -2.2rem;
  margin-top: -2.1rem;
  z-index: 50; }

.portfolio-icon {
  position: absolute;
  padding-left: 0;
  margin-left: -2.0rem;
  margin-top: -2.1rem;
  z-index: 50; }

.md-button.md-raised.md-cornered.green-button {
  float: left;
  color: white;
  background: #212121;
  font-weight: bolder;
  padding: -0.3px 6px 0 6px;
  margin: .3rem;
  border-radius: 0px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid #212121;
  box-sizing: border-box;
  outline: none;
  height: .1rem;
  line-height: .1px; }

.md-button.md-raised.md-cornered.green-button:not([disabled]):hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
  font-weight: bolder;
  border: 3px solid #F44336;
  transition: .3s ease-in; }

.md-button.md-raised.green-button[disabled] {
  color: #bbbbbb;
  background-color: rgba(230, 230, 229, 0.96); }

/* .md-button.blog-button {
    color: orange;
    background-color: green;
}

.md-button.blog-button:not([disabled]):hover {
  background-color: blue;
  color: red;
} */
.md-button.md-icon-button.blogger-button {
  margin: 0.2rem -0.5rem 0.1rem 0.2rem;
  height: 3.4rem;
  min-width: 0;
  line-height: 3.4rem;
  padding: 0;
  width: 3.4rem; }

.hero-inside-container {
  position: relative; }

.hero-inside-bg {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }

.hero-inside {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  height: 7.5rem;
  width: 100%;
  top: 12rem; }

.hero-inside h1 {
  text-shadow: 4px 2px 16px #000000;
  text-align: center;
  color: #fefefe;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 5rem;
  font-weight: bold;
  font-weight: lighter;
  text-shadow: 5px; }

.hero-inside h4 {
  text-shadow: 4px 2px 16px #000000;
  text-align: center;
  color: #fefefe;
  width: 100%;
  padding-top: 10rem;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: bold;
  font-weight: lighter; }

.hero-inside h5 {
  text-shadow: 4px 2px 16px #000000;
  text-align: center;
  color: #fefefe;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
  font-weight: lighter; }

.hero-buttons {
  width: 215px;
  margin: 0 auto; }

.md-button.ghost-one {
  border: 2px solid white;
  color: white;
  font-weight: bold;
  border-radius: 0px;
  padding: 0rem 0.6rem;
  margin-top: 1rem;
  z-index: 100; }

.md-button.ghost-one:hover {
  background-color: #F44336;
  border: 2px solid #F44336; }

.md-button.ghost-two {
  border: 2px solid #F44336;
  border-radius: 0px;
  font-weight: bold;
  color: white;
  padding: 0rem 0.6rem;
  margin-top: 1rem;
  background-color: #F44336;
  z-index: 100; }

.md-button.ghost-two:hover {
  background-color: #F44336; }

.image-bump {
  margin-top: 42rem; }

.service-section {
  margin-top: 3.5rem; }
  .service-section h3 {
    text-align: center;
    font-weight: bold;
    margin-top: .9rem; }
  .service-section p {
    text-align: center;
    margin: 0.5rem 2rem 4rem 2rem; }
  .service-section a {
    color: #212121; }

.service-button-container {
  width: 90px;
  margin: 0 auto; }

.service-button-icon {
  display: block;
  padding-right: 1.2em;
  margin-top: -1rem; }

.md-button.md-icon-button.service-button {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 5.5rem;
  width: 5.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #E5E7EA;
  background-color: #F6F6F6; }

.md-button.md-icon-button.service-button:hover {
  transition: ease-in 0.3s;
  border: 3px solid #F44336; }

.to-top {
  background-color: #F44336;
  padding: .1rem;
  position: fixed;
  bottom: 3.5rem;
  right: .5rem;
  z-index: 100; }

.skills-section {
  height: 39rem;
  background-color: #106CC8; }

.skills-container {
  height: 12rem;
  margin: 1rem;
  padding: 0; }

.skill-set {
  width: 100%; }

.favorite-section {
  height: 39rem;
  background-color: #106CC8; }

.favorite-title {
  color: white;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2.5rem;
  padding-bottom: 0; }

.favorite-chart {
  margin-top: 2.5rem;
  color: white; }

.chart-doughnut {
  margin-bottom: 1.5rem; }

.awesome-quote {
  padding: 0.5rem 4.5rem;
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  color: #676767;
  margin: 6rem 1rem; }

.halibut-section {
  height: 30rem; }

.portfolio-grid-container .portfolio-inside-grid-container {
  position: relative; }

.portfolio-grid-container .portfolio-inside-grid {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px; }

.portfolio-grid-container .portfolio-grid-inside {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  height: 30rem;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.75)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#bf000000',GradientType=0 ); }

.portfolio-grid-container .portfolio-grid-inside h2 {
  display: none;
  position: relative;
  top: 12rem;
  text-shadow: 4px 2px 16px #000000;
  text-align: center;
  color: #fefefe;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: bold;
  font-weight: lighter;
  text-shadow: 5px;
  transition: all 0.5s ease; }

.portfolio-grid-container .portfolio-grid-inside .portfolio-button-wrap {
  width: 120px;
  margin: 0 auto;
  position: relative;
  top: 12rem; }

.portfolio-grid-container .portfolio-grid-inside .portfolio-button {
  margin: .5rem;
  display: none; }

.portfolio-grid-container .md-button.md-icon-button.portfolio-button {
  position: relative;
  margin-left: auto;
  height: 3.5rem;
  width: 3.5rem;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #E5E7EA;
  background-color: #F44336; }

.portfolio-grid-container .md-button.md-icon-button.portfolio-button:hover {
  transition: ease-in 0.3s;
  border: 1px solid #F44336; }

.portfolio-grid-container .portfolio-icons {
  margin-right: 1.4rem;
  margin-bottom: 1.4rem; }

.portfolio-grid-container .portfolio-title {
  cursor: pointer; }

.portfolio-grid-container .portfolio-grid-inside:hover {
  transition: .3s ease-in; }
  .portfolio-grid-container .portfolio-grid-inside:hover h2 {
    display: inline-block; }
  .portfolio-grid-container .portfolio-grid-inside:hover .portfolio-button {
    display: inline-block; }

.portfolio-grid-container .portfolio-grid-momentjs:hover .portfolio-grid-inside {
  transition: 1s ease-in;
  background: none; }

.small-grid-container {
  border-radius: 3px; }
  .small-grid-container .small-inside-grid-container {
    position: relative; }
  .small-grid-container .small-inside-grid {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; }
  .small-grid-container .small-grid-inside {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    height: 15rem;
    border-radius: 3px;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.75)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf000000', endColorstr='#bf000000',GradientType=0 ); }
  .small-grid-container .small-grid-inside h2 {
    display: none;
    position: relative;
    top: 5rem;
    text-shadow: 4px 2px 16px #000000;
    text-align: center;
    color: #fefefe;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: -3rem;
    font-size: 2rem;
    font-weight: bold;
    font-weight: lighter;
    text-shadow: 5px;
    transition: all 0.5s ease; }
  .small-grid-container .small-grid-inside .small-button-wrap {
    width: 120px;
    padding: 0;
    margin: 0 auto;
    position: relative;
    top: 5rem; }
  .small-grid-container .small-grid-inside .small-button {
    margin: 0rem 1rem;
    display: none; }
  .small-grid-container .small-grid-inside:hover h2 {
    display: inline-block; }
  .small-grid-container .small-grid-inside:hover .small-button {
    display: inline-block; }
  .small-grid-container .small-grid-duck:hover .small-grid-inside {
    background: none;
    transition: .3s ease-in; }
  .small-grid-container .small-board:hover .small-grid-inside {
    background: none;
    transition: .3s ease-in; }
  .small-grid-container .small-quake:hover .small-grid-inside {
    background: none;
    transition: .3s ease-in; }

.md-button.md-icon-button.small-button {
  position: relative;
  margin-left: auto;
  height: 3.5rem;
  width: 3.5rem;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 2px solid #E5E7EA;
  background-color: #F44336; }

.md-button.md-icon-button.small-button:hover {
  transition: ease-in 0.3s;
  border: 1px solid #F44336; }

.tiny-icons {
  margin-right: 1.28rem;
  margin-bottom: 1.4rem; }

@media (max-width: 585px) {
  .post-image {
    width: 18.5rem;
    height: 24.5rem;
    transition: .3s ease-in; }
  .awesome-quote {
    padding: 0.5rem 0.5rem;
    font-size: .9rem; }
  .hero-inside {
    top: 14rem; }
    .hero-inside h1 {
      font-size: 2.6rem; }
    .hero-inside h5 {
      font-size: 1.3rem; }
  .service-section {
    margin-top: 0rem; }
  .skills-section {
    height: 30rem; }
  .skills-container {
    height: 11rem;
    margin: 2.4rem 0.5rem;
    padding: 0; }
  .favorite-title {
    margin-top: 3rem; }
  .mobile-fix {
    margin-top: -3rem; }
  .page-wrap {
    width: 100%; }
  .testy6 {
    height: 31rem; }
  .first-blog {
    margin-top: 3rem; } }

.blog-post-content {
  font-family: Georgia;
  margin-top: 1rem;
  max-width: 600px; }
  .blog-post-content a {
    color: #F44336; }
  .blog-post-content p {
    font-size: 17px;
    font-weight: normal;
    line-height: 29px; }
  .blog-post-content h4 {
    font-weight: bold; }
  .blog-post-content .player-position {
    background-color: #6ea645;
    color: white;
    padding: .5rem;
    float: left;
    margin-top: -1rem;
    margin-left: -1rem; }
  .blog-post-content .entry-title {
    max-width: 600px; }
  .blog-post-content .add-this {
    padding-bottom: 2rem; }
  .blog-post-content .fancy-bread {
    margin-top: 1rem;
    font-weight: bold;
    text-decoration: underline; }
  .blog-post-content .yum-button {
    margin-left: 2rem; }
  .blog-post-content .photo-container {
    margin-top: 1rem; }
  .blog-post-content .inside-blog-img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem; }
  .blog-post-content .drop-cap {
    color: #888;
    float: left;
    font-family: Georgia;
    font-size: 3em;
    font-style: normal;
    text-shadow: #333 1px 1px; }
  .blog-post-content .intro {
    color: #333;
    font-size: 1.4rem;
    line-height: 1.4rem;
    margin-top: 1rem; }
  .blog-post-content .advice {
    background-color: #EDEFF5;
    padding: .5rem;
    margin: 2rem 0rem; }
  .blog-post-content .tarp-product {
    float: left;
    margin: 1rem; }
  .blog-post-content .tarp-product-right {
    float: right;
    margin: 1rem; }
  .blog-post-content .blog-list {
    list-style: decimal; }
    .blog-post-content .blog-list li {
      margin: 1rem 0rem;
      margin-left: 1rem; }
  .blog-post-content .blog-highlight {
    background-color: #EEEEFE;
    border-radius: 3px;
    padding: 0rem 0.2rem;
    margin: .2rem; }
  .blog-post-content .circle-number {
    background-color: #F44336;
    margin: 4rem; }
  .blog-post-content .standard-three {
    width: 300px;
    margin: 1rem 0rem; }
  .blog-post-content .standard-four {
    width: 400px;
    margin: 1rem 0rem; }
  .blog-post-content .standard-five {
    width: 500px;
    margin: 1rem 0rem; }
  .blog-post-content .fanduel-card {
    padding: 1rem;
    border: 2px solid #6EA645;
    margin: 1rem 0rem; }
  .blog-post-content .draftkings-card {
    padding: 1rem;
    border: 2px solid #FF6C00;
    margin: 1rem 0rem; }
  .blog-post-content .perfect-challenge-card {
    padding: 1rem;
    border: 2px solid #4AB1C6;
    margin: 1rem 0rem; }
  .blog-post-content .football-name {
    margin: 0;
    padding: 0; }
  .blog-post-content .football-matchup {
    margin: 0;
    padding: 0; }
  .blog-post-content .player-description p {
    font-size: 1rem; }
  .blog-post-content .itunes-list li {
    border-top: 1px solid #eaeaed;
    padding-top: .5rem;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0; }
